parameters:
    level: 6
    checkMissingIterableValueType: false
    ignoreErrors:
        -
            message: "#^Ternary operator condition is always true\\.$#"
            count: 1
            path: src/Auth/JwtAuthenticate.php
